{% load static %}
<header class="p-3 mb-3 top-nav">
  <div class="container">
    <div
      class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start"
    >
      <a
        href="javascript:void()"
        class="d-flex align-items-center mb-2 mb-lg-0 text-danger text-decoration-none code-blog"
      >
        <img src="{% static 'img/coderiven-text-logo.png' %}" alt="" srcset="" width="100">
        <!-- <img src="{% static 'img/square-logo.png' %}" alt="" srcset="" width="50" height="50"> -->
      </a>

      <ul
        class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        id="nav-item"
      >
        <li><a href="{% url 'blog:index' %}" class="nav-link px-2">Home</a></li>
        <li><a href="{% url 'about' %}" class="nav-link px-2">About</a></li>
      </ul>

      <form
        method="GET"
        action="{% url 'blog:index' %}"
        class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3"
      >
        <input
          name="search"
          type="search"
          class="form-control"
          placeholder="Search..."
          aria-label="Search"
        />
      </form>

      {% if current_user.is_authenticated %}
      <div class="dropdown text-end">
        <a
          href="#"
          class="d-block link-dark text-decoration-none dropdown-toggle"
          id="dropdownUser1"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src=""
            alt="{{ current_user.username }}"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small" aria-labelledby="dropdownUser1">
          <li><a class="dropdown-item" href="">Profile</a></li>
          <li><hr class="dropdown-divider" /></li>
          <li><a class="dropdown-item" href="">Sign out</a></li>
        </ul>
      </div>
      {% else %}
      <div class="text-end">
        <ul
          class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0"
        >
          <li><a href="" class="nav-link px-2">Login</a></li>
          <li><a href="" class="nav-link px-2">Sign up</a></li>
        </ul>
      </div>
      {% endif %}
    </div>
  </div>
</header>
