<form action="{% url 'blog:post-comment' post.pk %}" method="POST">
  {% csrf_token %}
  <div class="p-4">
    <div class="form-group">
      {% if not user.is_authenticated %}
        <textarea
          class="form-control"
          rows="3"
          placeholder="Write a comment..."
          data-toggle="tooltip"
          data-placement="top"
          title="Please login first to comment"
          readonly
        ></textarea>
      {% else %}
        <textarea
          name="content"
          class="form-control"
          rows="3"
          required
          placeholder="Write a comment..."
        ></textarea>

        <div class="d-flex justify-content-end">
          <button type="submit" class="btn btn-primary mt-2">
            <i class="fas fa-paper-plane"></i> Submit
          </button>
        </div>
      {% endif %}
    </div>
  </div>
</form>
