pre {
    line-height: 125%;
}

td.linenos .normal,
span.linenos {
    color: inherit;
    background-color: transparent;
    padding-left: 5px;
    padding-right: 5px;
}

td.linenos .special,
span.linenos.special {
    color: #000000;
    background-color: #ffffc0;
    padding-left: 5px;
    padding-right: 5px;
}

.codehilite .hll {
    background-color: #ffffcc;
}



.codehilite .c {
    color: #3D7B7B;
    font-style: italic;
} /* Comment */

.codehilite .err {
    border: 1px solid #FF0000;
} /* Error */

.codehilite .k {
    color: #008000;
    font-weight: bold;
} /* Keyword */

.codehilite .o {
    color: #666666;
} /* Operator */

.codehilite .ch,
.codehilite .cm,
.codehilite .cpf,
.codehilite .c1,
.codehilite .cs {
    color: #3D7B7B;
    font-style: italic;
} /* Comment.Hashbang, Comment.Multiline, Comment.PreprocFile, Comment.Single, Comment.Special */

.codehilite .cp {
    color: #9C6500;
} /* Comment.Preproc */

.codehilite .gd {
    color: #A00000;
} /* Generic.Deleted */

.codehilite .ge {
    font-style: italic;
} /* Generic.Emph */

.codehilite .ges {
    font-weight: bold;
    font-style: italic;
} /* Generic.EmphStrong */

.codehilite .gr {
    color: #E40000;
} /* Generic.Error */

.codehilite .gh {
    color: #000080;
    font-weight: bold;
} /* Generic.Heading */

.codehilite .gi {
    color: #008400;
} /* Generic.Inserted */

.codehilite .go {
    color: #717171;
} /* Generic.Output */

.codehilite .gp {
    color: #000080;
    font-weight: bold;
} /* Generic.Prompt */

.codehilite .gs {
    font-weight: bold;
} /* Generic.Strong */

.codehilite .gu {
    color: #800080;
    font-weight: bold;
} /* Generic.Subheading */

.codehilite .gt {
    color: #0044DD;
} /* Generic.Traceback */

.codehilite .kc,
.codehilite .kd,
.codehilite .kn,
.codehilite .kr {
    color: #008000;
    font-weight: bold;
} /* Keyword.Constant, Keyword.Declaration, Keyword.Namespace, Keyword.Reserved */

.codehilite .kp {
    color: #008000;
} /* Keyword.Pseudo */

.codehilite .kt {
    color: #B00040;
} /* Keyword.Type */

.codehilite .m,
.codehilite .mb,
.codehilite .mf,
.codehilite .mh,
.codehilite .mi,
.codehilite .mo {
    color: #666666;
} /* Literal.Number, Literal.Number.Bin, Literal.Number.Float, Literal.Number.Hex, Literal.Number.Integer, Literal.Number.Oct */

.codehilite .s,
.codehilite .sa,
.codehilite .sb,
.codehilite .sc,
.codehilite .dl,
.codehilite .s2,
.codehilite .sh,
.codehilite .s1 {
    color: #BA2121;
} /* Literal.String, Literal.String.Affix, Literal.String.Backtick, Literal.String.Char, Literal.String.Delimiter, Literal.String.Double, Literal.String.Heredoc, Literal.String.Single */

.codehilite .sd {
    color: #BA2121;
    font-style: italic;
} /* Literal.String.Doc */

.codehilite .se {
    color: #AA5D1F;
    font-weight: bold;
} /* Literal.String.Escape */

.codehilite .si {
    color: #A45A77;
    font-weight: bold;
} /* Literal.String.Interpol */

.codehilite .sx {
    color: #008000;
} /* Literal.String.Other */

.codehilite .sr {
    color: #A45A77;
} /* Literal.String.Regex */

.codehilite .ss {
    color: #19177C;
} /* Literal.String.Symbol */

.codehilite .bp,
.codehilite .fm {
    color: #008000;
} /* Name.Builtin.Pseudo, Name.Function.Magic */

.codehilite .nc,
.codehilite .nn {
    color: #0000FF;
    font-weight: bold;
} /* Name.Class, Name.Namespace */

.codehilite .no {
    color: #880000;
} /* Name.Constant */

.codehilite .nd,
.codehilite .ow {
    color: #AA22FF;
    font-weight: bold;
} /* Name.Decorator, Operator.Word */

.codehilite .ni {
    color: #717171;
    font-weight: bold;
} /* Name.Entity */

.codehilite .ne {
    color: #CB3F38;
    font-weight: bold;
} /* Name.Exception */

.codehilite .nf {
    color: #0000FF;
} /* Name.Function */

.codehilite .nl {
    color: #767600;
} /* Name.Label */

.codehilite .nt {
    color: #008000;
    font-weight: bold;
} /* Name.Tag */

.codehilite .nv,
.codehilite .vc,
.codehilite .vg,
.codehilite .vi,
.codehilite .vm {
    color: #19177C;
} /* Name.Vari
